{% extends 'website/layout.html' %}

{% block main %}
    <h4>Descrição</h4>
    <p>A Teoria da Computação apresenta os principais conceitos a saber: a teoria dos autômatos e a teoria das máquinas de Turing.
        Essas áreas buscam responder quais são as capacidades e limitações
        fundamentais dos computadores. Em cada uma das áreas essa questão é interpretada de forma diferente
        e as respostas variam conforme a interpretação.</p>

    <h5 style="margin-top: 2rem">Teoria dos Autómatos</h5>
    <p>Autômatos finitos determinísticos, Autômatos finitos não-determinísticos, Expressões e linguagens regulares, Gramáticas regulares, Propriedades das linguagens regulares</p>

    <h5 style="margin-top: 2rem">Teoria das Máquinas de Turing</h5>
    <p>Maquinas de Turing, Variantes da Maquina de Turing e Implementação em Python de máquinas de Turing e transdutores.

</p>
{% endblock %}